/* Write your CSS here */
.suggestion-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  list-style-type: none;
}
.arrow-image {
  height: 16px;
  width: 16px;
}
@media screen and (min-width: 768px) {
  .arrow-image {
    height: 24px;
    width: 24px;
  }
}
.button-class {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.text-para {
  color: #475569;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;

  margin: 0;
}

@media screen and (min-width: 768px) {
  .text-para {
    font-size: 20px;
  }
}
